/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


mx|ToolTip
{
	fontFamily		: "微软雅黑";
	fontSize		: 12;
	backgroundAlpha	: 0.8;
	cornerRadius	: 5;
}
